html {
    height:100%;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul{
  list-style: none;
  align-items: center;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: gray;
}
.navbar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: midnightblue;
	color: white;
}
.navbar-brand{
	display: flex;
}
.title{
	padding-left: 10px;
}
.carousel-items{
	width: 100%;
 	height: 90vh;
 	overflow-y: hidden;
}
.h2notices{
	padding-top: 50px;
	text-align: center;
}

.cardnotice{
  height: 200px;
}
.col-xl-4, .col-lg-12, .col-lg-4, .col-md-6{
  padding: 15px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 4vw);
  gap: 2rem;
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

.gallery-item {
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
  border-radius: 5px;
}

.gallery-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 500ms linear;
}
.gallery-item:hover .gallery-img {
  transform: scale(1.1);
}

.gallery-item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: var(--white);
  width: 100%;
  text-align: center;
}
.h2gallery{
  padding-top: 50px;
  text-align: center;
}
.item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
}

.item-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}
.item-3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}
.item-4 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
}
.wrapper{
  display: flex;
}
.fixed-sidebar {
  position: sticky;
  height: 500px;
  padding: 30px 20px;
  background: midnightblue;
  color: white;
  top: 10px;
  bottom: auto;
  width: 20%;
  margin: 10px;
}
.fixed-sidebar li{
  padding: 10px;
  cursor: pointer;
}
.fixed-sidebar li:hover{
  color: gray;
}
.left-menu{
  margin-right: 30px ;
}

/* Responsive iFrame */
.responsive-iframe-container {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   overflow: hidden;
}
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.h2achieve{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.achieve-p {
  text-align: justify;
}
.statistics{
  width: 100%;
  background-color: midnightblue;
  overflow: hidden;
}
.stat-heading{
  color: white;
  padding-top: 40px;
}
.stat-heading p{
  color: gray;
  text-align: justify;
}

.stat-content{
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
  text-align: center;
}
.stat-h5{
  font-weight: 100;
}

.clubs{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}
.img-fluid{
  height: 250px !important;
}

.location{
  max-width: 80%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.h2location{
  padding-bottom: 50px;
  text-align: center;
}
.location-card{
  display: flex;
}
.location-img{
   border: 5px solid #ccc;
   height: 350px;
   width: 500px;
   padding: 7px;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}
.location-img:hover{
  cursor: pointer;
  border: 5px solid midnightblue;
}
.location-details{
  align-self: center;
  margin: 5em;
}
.location-details p{
  font-size: 1.3rem;
  font-weight: 600;
}
.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 25px 0 25px;
}
.pfollow{
  color: #999;
  align-items: center;
  padding-top: 1rem;
}
.pfollow:hover{
  color: white;
}
.follow * {
  margin-right: 10px;
}
.social{
  border-radius: 50%;
}

.footer{
  background: midnightblue;
  padding-top: 1rem;
}
.foot{
  max-width: 75%;
  margin: auto;
  padding-top: 1rem;
}
.footer a{
  text-decoration:none;
  color: #999; 
}
.footer a:hover{
  text-decoration:none;
  color: white; 
}

.footer .footer-cols{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  line-height: 2;
  font-size:0.8rem;
  padding-top: 0.8rem;
}

.copyright{
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  display: grid;
  justify-content: center;
}
@media only screen and (max-width: 996px) {
  .carousel-items{
    height: 50vh;
  }
  .gallary-item .content h2 {
    font-size: 1.6rem;
  }
  .gallary-item .content a {
    padding: 0.7rem 1.3rem;
    margin-top: 1.5rem;
  }
  .location-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    justify-content: center;
  }
  .location-img{
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .gallary-item .content h2 {
    font-size: 1.4rem;
  }

  .gallary-item .content a {
    padding: 0.4rem 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 700px) {

  .gallary {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(20, 4vw);
  }

  .item-1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
  }

  .item-2 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 11;
  }
  .item-3 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 15;
  }
  .item-4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 15;
    grid-row-end: 19;
  }
  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .location-details{
    display: none;
  }
}

@media (max-width: 550px) {
   .big-container {
       display: none;
   }
}
@media (min-width: 550px) {
   .small-container {
       display: none;
   }
}
